USE [master]
GO
/****** Object:  Database [MRA_Project]    Script Date: 9/28/2021 9:17:19 PM ******/
CREATE DATABASE [MRA_Project]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRN292_ProjectFinal', FILENAME = N'E:\Microsoft SQL Server Management 2018\MSSQL15.MSSQLSERVER\MSSQL\DATA\PRN292_ProjectFinal.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRN292_ProjectFinal_log', FILENAME = N'E:\Microsoft SQL Server Management 2018\MSSQL15.MSSQLSERVER\MSSQL\DATA\PRN292_ProjectFinal_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MRA_Project].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MRA_Project]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 9/28/2021 9:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[roll] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Class] PRIMARY KEY CLUSTERED 
(
	[roll] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassDetail]    Script Date: 9/28/2021 9:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassDetail](
	[rollclass] [nchar](10) NOT NULL,
	[rollstudent] [nchar](10) NOT NULL,
 CONSTRAINT [PK_ClassDetail] PRIMARY KEY CLUSTERED 
(
	[rollclass] ASC,
	[rollstudent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GrandItemDetail]    Script Date: 9/28/2021 9:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrandItemDetail](
	[rolltype] [nchar](10) NOT NULL,
	[rollsubject] [nchar](10) NOT NULL,
	[rollgranditemtype] [nchar](10) NOT NULL,
 CONSTRAINT [PK_GrandItemDetail] PRIMARY KEY CLUSTERED 
(
	[rolltype] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GrandItemType]    Script Date: 9/28/2021 9:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrandItemType](
	[roll] [nchar](10) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[weight] [float] NOT NULL,
 CONSTRAINT [PK_GrandItemType] PRIMARY KEY CLUSTERED 
(
	[roll] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScoreDetail]    Script Date: 9/28/2021 9:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScoreDetail](
	[rollstudent] [nchar](10) NOT NULL,
	[rolltype] [nchar](10) NOT NULL,
	[score] [real] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 9/28/2021 9:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[roll] [nchar](10) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[gender] [nvarchar](50) NOT NULL,
	[address] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[phone] [nvarchar](50) NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[roll] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 9/28/2021 9:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[roll] [nchar](10) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[credit] [int] NOT NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[roll] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubjectClass]    Script Date: 9/28/2021 9:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectClass](
	[rollteacher] [nchar](10) NULL,
	[rollsubject] [nchar](10) NOT NULL,
	[rollclass] [nchar](10) NOT NULL,
 CONSTRAINT [PK_SubjectClass] PRIMARY KEY CLUSTERED 
(
	[rollsubject] ASC,
	[rollclass] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 9/28/2021 9:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[roll] [nchar](10) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[gender] [nvarchar](50) NOT NULL,
	[address] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[phone] [nvarchar](50) NULL,
	[amount] [money] NULL,
 CONSTRAINT [PK_Teacher] PRIMARY KEY CLUSTERED 
(
	[roll] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Class] ([roll]) VALUES (N'SE1411    ')
INSERT [dbo].[Class] ([roll]) VALUES (N'SE1412    ')
INSERT [dbo].[Class] ([roll]) VALUES (N'SE1413    ')
GO
INSERT [dbo].[ClassDetail] ([rollclass], [rollstudent]) VALUES (N'SE1411    ', N'HE140153  ')
INSERT [dbo].[ClassDetail] ([rollclass], [rollstudent]) VALUES (N'SE1411    ', N'HE140243  ')
INSERT [dbo].[ClassDetail] ([rollclass], [rollstudent]) VALUES (N'SE1411    ', N'HE140360  ')
GO
INSERT [dbo].[GrandItemDetail] ([rolltype], [rollsubject], [rollgranditemtype]) VALUES (N'JPD111_FE ', N'JPD111    ', N'FE_40     ')
INSERT [dbo].[GrandItemDetail] ([rolltype], [rollsubject], [rollgranditemtype]) VALUES (N'JPD111_FER', N'JPD111    ', N'FE_40_Res ')
INSERT [dbo].[GrandItemDetail] ([rolltype], [rollsubject], [rollgranditemtype]) VALUES (N'JPD111_MID', N'JPD111    ', N'MID       ')
GO
INSERT [dbo].[GrandItemType] ([roll], [name], [weight]) VALUES (N'ASS       ', N'Assignment', 10)
INSERT [dbo].[GrandItemType] ([roll], [name], [weight]) VALUES (N'FE_30     ', N'Final Exam', 30)
INSERT [dbo].[GrandItemType] ([roll], [name], [weight]) VALUES (N'FE_30_Res ', N'Final Exam Resit', 30)
GO
INSERT [dbo].[ScoreDetail] ([rollstudent], [rolltype], [score]) VALUES (N'HE140153  ', N'JPD111_PA ', NULL)
INSERT [dbo].[ScoreDetail] ([rollstudent], [rolltype], [score]) VALUES (N'HE140153  ', N'JPD111_PT1', NULL)
INSERT [dbo].[ScoreDetail] ([rollstudent], [rolltype], [score]) VALUES (N'HE140153  ', N'JPD111_PT2', NULL)
GO
INSERT [dbo].[Student] ([roll], [password], [name], [gender], [address], [email], [phone]) VALUES (N'HE140153  ', N'123', N'Cherin Beakes', N'Female', N'Colombia', N'cbeakes21@bbb.org', N'502-719-7492')
INSERT [dbo].[Student] ([roll], [password], [name], [gender], [address], [email], [phone]) VALUES (N'HE140243  ', N'123', N'Cyril Brumbye', N'Male', N'South Africa', NULL, N'113-439-1564')
INSERT [dbo].[Student] ([roll], [password], [name], [gender], [address], [email], [phone]) VALUES (N'HE140360  ', N'123', N'Maurise Minero', N'Male', N'Japan', NULL, N'567-205-3067')
GO
INSERT [dbo].[Subject] ([roll], [name], [credit]) VALUES (N'JPD111    ', N'Elementary Japanese 1.1', 3)
INSERT [dbo].[Subject] ([roll], [name], [credit]) VALUES (N'JPD121    ', N'Elementary Japanese 1.2', 3)
INSERT [dbo].[Subject] ([roll], [name], [credit]) VALUES (N'JPD133    ', N'Japanese Elememtary 1-A1/A2', 3)
GO
INSERT [dbo].[SubjectClass] ([rollteacher], [rollsubject], [rollclass]) VALUES (N'TE3802    ', N'JPD111    ', N'SE1411    ')
INSERT [dbo].[SubjectClass] ([rollteacher], [rollsubject], [rollclass]) VALUES (N'TE3802    ', N'JPD111    ', N'SE1412    ')
INSERT [dbo].[SubjectClass] ([rollteacher], [rollsubject], [rollclass]) VALUES (N'TE0320    ', N'JPD111    ', N'SE1413    ')
GO
INSERT [dbo].[Teacher] ([roll], [password], [name], [gender], [address], [email], [phone], [amount]) VALUES (N'TE0320    ', N'123', N'Viviene Wewell', N'Female', N'China', NULL, N'362-120-8629', 1706.3000)
INSERT [dbo].[Teacher] ([roll], [password], [name], [gender], [address], [email], [phone], [amount]) VALUES (N'TE0605    ', N'123', N'Sapphira Shillam', N'Female', N'Russia', N'sshillam7@cloudflare.com', N'197-239-9463', 1921.7100)
INSERT [dbo].[Teacher] ([roll], [password], [name], [gender], [address], [email], [phone], [amount]) VALUES (N'TE0826    ', N'123', N'Benyamin Beeckx', N'Male', N'Japan', NULL, N'984-668-4427', 1787.7900)
GO
ALTER TABLE [dbo].[ClassDetail]  WITH CHECK ADD  CONSTRAINT [FK_ClassDetail_Class] FOREIGN KEY([rollclass])
REFERENCES [dbo].[Class] ([roll])
GO
ALTER TABLE [dbo].[ClassDetail] CHECK CONSTRAINT [FK_ClassDetail_Class]
GO
ALTER TABLE [dbo].[ClassDetail]  WITH CHECK ADD  CONSTRAINT [FK_ClassDetail_Student] FOREIGN KEY([rollstudent])
REFERENCES [dbo].[Student] ([roll])
GO
ALTER TABLE [dbo].[ClassDetail] CHECK CONSTRAINT [FK_ClassDetail_Student]
GO
ALTER TABLE [dbo].[GrandItemDetail]  WITH CHECK ADD  CONSTRAINT [FK_GrandItemDetail_GrandItemType] FOREIGN KEY([rollgranditemtype])
REFERENCES [dbo].[GrandItemType] ([roll])
GO
ALTER TABLE [dbo].[GrandItemDetail] CHECK CONSTRAINT [FK_GrandItemDetail_GrandItemType]
GO
ALTER TABLE [dbo].[GrandItemDetail]  WITH CHECK ADD  CONSTRAINT [FK_GrandItemDetail_Subject] FOREIGN KEY([rollsubject])
REFERENCES [dbo].[Subject] ([roll])
GO
ALTER TABLE [dbo].[GrandItemDetail] CHECK CONSTRAINT [FK_GrandItemDetail_Subject]
GO
ALTER TABLE [dbo].[ScoreDetail]  WITH CHECK ADD  CONSTRAINT [FK_ScoreDetail_GrandItemDetail] FOREIGN KEY([rolltype])
REFERENCES [dbo].[GrandItemDetail] ([rolltype])
GO
ALTER TABLE [dbo].[ScoreDetail] CHECK CONSTRAINT [FK_ScoreDetail_GrandItemDetail]
GO
ALTER TABLE [dbo].[ScoreDetail]  WITH CHECK ADD  CONSTRAINT [FK_ScoreDetail_Student] FOREIGN KEY([rollstudent])
REFERENCES [dbo].[Student] ([roll])
GO
ALTER TABLE [dbo].[ScoreDetail] CHECK CONSTRAINT [FK_ScoreDetail_Student]
GO
ALTER TABLE [dbo].[SubjectClass]  WITH CHECK ADD  CONSTRAINT [FK_SubjectClass_Class] FOREIGN KEY([rollclass])
REFERENCES [dbo].[Class] ([roll])
GO
ALTER TABLE [dbo].[SubjectClass] CHECK CONSTRAINT [FK_SubjectClass_Class]
GO
ALTER TABLE [dbo].[SubjectClass]  WITH CHECK ADD  CONSTRAINT [FK_SubjectClass_Subject] FOREIGN KEY([rollsubject])
REFERENCES [dbo].[Subject] ([roll])
GO
ALTER TABLE [dbo].[SubjectClass] CHECK CONSTRAINT [FK_SubjectClass_Subject]
GO
ALTER TABLE [dbo].[SubjectClass]  WITH CHECK ADD  CONSTRAINT [FK_SubjectClass_Teacher] FOREIGN KEY([rollteacher])
REFERENCES [dbo].[Teacher] ([roll])
GO
ALTER TABLE [dbo].[SubjectClass] CHECK CONSTRAINT [FK_SubjectClass_Teacher]
GO
USE [master]
GO
